{% extends 'navbar_l.html' %}
{% block content %}
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="author" content="Aidan Wadin">
      <meta name="description" content="Marketplace for COMP 307 Final Project">
      <title>OSS</title>
      <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <link href="static/css/shop-homepage.css" rel="stylesheet">
   </head>
   <body>
      <!-- Display user options -->
      <div class="container">
         <div class="row">
            <div class="col-lg-3">
               <h1 class="my-4">The One Stop Shop</h1>
               <div class="list-group">
                  <p class="list-group-item">Hello {{request.user.username}}, you are logged in</p>
                  <a href="{% url 'list_item' %}" class="list-group-item">List an item for sale</a>
                  <a href="{% url 'index' %}" class="list-group-item">Return to marketplace</a>
                  <a href="{% url 'logout' %}" class="list-group-item">Logout</a>
               </div>
            </div>
            <div class="col-lg-9">
               <div class="banner">
               </div>
               <div class="row">
                  <!-- Display only logged in user's items -->
                  {% for item in items %}
                  {% if item.owner == request.user %}
                  <div class="col-lg-4 col-md-6 mb-4">
                     <div class="card h-100">
                        <p><img class="card-img-top" src= {{item.image.url}} alt=""></p>
                        <div class="card-body">
                           <h4 class="card-title">
                              <div class="itemname">{{ item.itemname }}</div>
                           </h4>
                           <h5>{{item.price}}</h5>
                           <p class="card-text"><b>Posted by:</b> {{item.owner}} <br> <b>Description:</b> {{item.descrip}} </p>
                           <a class="nav-link" href="{% url 'item_update' id=item.id %}">Edit Item</a>
                        </div>
                        <div class="card-footer">
                           <small class="text-muted">Inventory: {{item.inv_count}} </small>
                        </div>
                     </div>
                  </div>
                  {% endif %}
                  {% endfor %}
               </div>
            </div>
         </div>
      </div>
      <footer class="py-5 bg-dark">
         <div class="container">
            <p class="m-0 text-center text-white">Aidan Wadin</p>
         </div>
      </footer>
      <!-- Bootstrap core JavaScript -->
      <script src="static/vendor/jquery/jquery.min.js"></script>
      <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
   </body>
</html>
{% endblock %}
